<div>
  <h1>Welcome to TinyApp, where all of ur url dreams can come 0 === 0 .</h1>
</div>
<div>
  <% if (username) { %>
    <form action="/logout" method="POST">
      <input type="submit" value="Sign out">
    </form>
  <% } else { %>
    <form action="/login" method="POST">
      <label for="username">Username</label>
      <input id="username" type="text" name="username" placeholder="Please enter your username" style="width: 120px"></br>
      <input type="submit" value="Sign in">
  </form>
  <% } %>

</div>