<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include ./partials/_header %>
  </header>
  <ul>
    <% if (!urls[paramId]) { %>
      <p>The requested URL does not exist.</br>Please check the URL entered.</p>
      <p>Please click <a href="/urls">here</a> to go back to the main page.</p>
    <% } else { %>
      <% if (urls[paramId].creator === useremail) { %>
        <li>
          <%= paramId %> - <%= urls[paramId].longURL %>
        </li>
        <form action="/urls/<%= paramId %>" method="POST" style="margin:150px;">
          <label for="longURL">Enter new URL to update:</label>
          <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
          <input type="submit" value="Submit">
        </form>
      <% } else { %>
        <p>Are you new to Tiny App?? Why don't you register <a href="/register">HERE</a> to use Tiny App FOR FREEEEEEE???</p>
    <% }} %>
  </ul>
</body>
</html>