<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include ./partials/_header %>
  </header>
  <ul>
    <% if (urls[para].creator === useremail) { %>
      <li>
        <%= para %> - <%= urls[para].longURL %>
      </li>
      <form action="/urls/<%= para %>" method="POST" style="margin:150px;">
        <label for="longURL">Enter new URL to update:</label>
        <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
        <input type="submit" value="Submit">
      </form>
    <% }  else { %>
      <p>Are you new to Tiny App?? Why don't you register <a href="/register">HERE</a> to use Tiny App FOR FREEEEEEE???</p>
    <% } %>
  </ul>
</body>
</html>